<!DOCTYPE html>
<html lang="zh-CN">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>税联科技</title>
	    <link href="#springUrl('')/Content/wap/css/public.css" rel="stylesheet" type="text/css"/>
	    <link rel="stylesheet" href="#springUrl('')/Content/JMoblie/JM-1.4.5/jquery.mobile-1.4.5.min.css">
		<script src="#springUrl('')/Content/Scripts/jquery-1.10.2.js"></script>
	</head>
	<body>
  		<div class="con-cen" style="position:absolute;top:0px;left:0px;height:100%;width:100%;margin-top:50px;">
  			<img src="#springUrl('')/Content/admin/images/flash.png">
  		</div>

  	
	<script type="text/javascript" charset="utf-8">
		var t1 = window.setTimeout(dotime,50);
		var golink = '$golink';
		
		function dotime(){
			//alert(golink);
			window.location = golink;	
		}				
	</script>
  </body>
</html>